/*
 Theme Name:     Knowledge Commons
 Theme URI:      https://github.com/SocietyforKnowledgeCommons/knowledge-commons-wp
 Description:    Twenty Fourteen Child Theme for Society For Knowledge Commons
 Author:         Rishab Arora, Kush Jain
 Template:       twentyfourteen
 Version:        1.0.0
*/

@import url("../twentyfourteen/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
